name: Release images

on:
  push:
    tags:
      - 'image-*-v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  prepare-build:
    name: Prepare Build
    outputs:
      targets: ${{ steps.all-targets.outputs.targets }}
      image-tag: ${{ steps.resolve.outputs.version }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Filter target
        id: resolve
        run: |
          # This assumes tags are in this form
          # image-<component1>-<component2>-v<version>

          # strip image- prefix from the tag
          _target=${GITHUB_REF_NAME#image}

          # remove version to only get the component
          target=${_target%-v*}

          # remove the - from the beginning of the target if it exists
          target=${target#-}

          # get version only
          version=${_target##*-v}

          # set target and version as output
          echo target=${target} >> ${GITHUB_OUTPUT}
          echo version=${version} >> ${GITHUB_OUTPUT}

          # Print the target and version
          echo "Target: $target"
          echo "Version: $version"

      - name: List all targets
        id: all-targets
        uses: docker/bake-action/subaction/list-targets@v6
        with:
          target: ${{ steps.resolve.outputs.target }}
        continue-on-error: true

  build-push:
    name: Build docker image - ${{ matrix.target }}
    needs: [prepare-build]
    if: ${{ needs.prepare-build.outputs.targets != '[]' && needs.prepare-build.outputs.targets != '' }}
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.prepare-build.outputs.targets) }}
    uses: ./.github/workflows/reusable-docker-build-push.yml
    permissions:
      contents: 'read'
      packages: 'write'
      attestations: 'write'
    with:
      bake-targets: ${{ matrix.target }}
      image-tag: ${{ needs.prepare-build.outputs.image-tag }}
