name: Build and Push

on:
  workflow_call:
    inputs:
      bake-target:
        required: true
        type: string
        description: "Bake target"
      bake-file:
        required: false
        type: string
        description: "Bake file"
        default: "docker-bake.hcl"
      image-tag:
        required: true
        type: string
        description: "Image tag to use."
      image-repo:
        required: false
        type: string
        description: "Image repo to use."
        default: "ghcr.io/riptideslabs/microservices-demo"

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{github.token}}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/bake-action@v6
        env:
          IMAGE_REPO: ${{ inputs.image-repo }}
          IMAGE_TAG: ${{ inputs.image-tag }}
        with:
          files: |
            ${{ inputs.bake-file }}
          targets: ${{ inputs.bake-targets }}
          push: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
          provenance: false
